body {
  color: white;
  background-color: #151965;
  font-family: Futura;
}
h1 {
  letter-spacing: 10px;
}
.star {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.planet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.moon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}