body {
  color: white;
  background-color: #151965;
  font-family: Futura;
}
h1 {
  letter-spacing: 10px;
}
.star {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.planet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.modal {
  position:fixed;
  background: grey;
  width: 80%;
  height: auto;
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
}
.moon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #393EA2;
  height: 40px;
  align-items: center;
}
.navbar {
  color: white;
  text-decoration: none;
}