.star-render {
    border: 0px solid white;
    border-radius: 50%;
    position: relative;
}
.star-render::after {
    background-image: url('../images/sun-texture.jpeg');
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}
.sun-texture {
     border-radius: 50%;
     opacity: 0.6;
}